<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>
 
<p>
  <strong>Avatar:</strong>
  <%= image_tag(@character.avatar_url, :width => 300) if @character.avatar.present? %>
</p>
<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', character_path %>